<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fitness Coach</title>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
		<link rel="stylesheet" href="../css/home.css">
	</head>
	
	<body>
		<h1>Welcome to Fitness Coach</h1>
		<video autoplay="true" id="video" width="640" height="480"></video>
		<canvas id="canvas" width="640" height="480"></canvas>
		<script src="../script/app.js"></script>
	</body>
</html>
